
---
layout:       page
title:        Drafts
permalink:    /drafts/
meta_robots:  noindex
---

<p>These are draft posts for previewing.</p>

<!-- <div class="posts">
  {% assign sorted = (site.drafts | sort: 'date') | reverse %}
  {% for draft in sorted %}
    <div class="post py2">
      <p class="post-meta h5">{{ draft.date | date: site.date_format }}</p>
      <a href="{{ draft.url }}" class="post-link"><h3 class="post-title">{{ draft.title }}</h3></a>
    </div>
  {% endfor %}
</div>
 -->

<div class="post-preview">
	{% assign sorted = (site.drafts | sort: 'date') | reverse %}	
	{% for draft in sorted %
    <a href="{{ draft.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ draft.title }}</h2>
        {% if draft.subtitle %}
        <h3 class="post-subtitle">
            {{ draft.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if draft.author %}{{ draft.author }}{% else %}{{ site.title }}{% endif %} on {{ draft.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}